<div id="mycontent"><link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<p color="yellow">INFORMATIONS DE LIVRAISON</p>

<p>La protection de vos données personnelles et de votre vie privée est importante pour nous. Lisez notre texte de clarification concernant la manière dont vos données personnelles sont traitées.</p>


<div id="maville">
<ion-input id="ville" placeholder="Entrez la rue ou la rue"></ion-input>
</div>
  <div id="map" class="map"></div>
<ion-button color="blue" (click)="chercher()">par adresse uniquement</ion-button>
   <form id="monformulaire" [formGroup]="ionicForm" *ngIf="adresstrouvee">
                          <div class="col1">
                  <div class="champ champ-nom">
                      <input formControlName="nom" id="nom" placeholder="nom et surnom" type="text" value=""/>
                  
                  <label class="label">
                  nom et surnom
              </label>
                  </div>
                          <ion-list>
                           <ion-item>
    <ion-label>Telephone input</ion-label>
    <ion-input type="tel" placeholder="888-888-8888"></ion-input>
  </ion-item>
                                       <div class="champ champ-email">
                      <input formControlName="email" id="email" placeholder="email" type="text" value=""/>
                  
                  <label class="label">
                  email
              </label>
                  </div>
                              
                                       <div class="champ champ-ville">
                      <input formControlName="ville" id="ville" placeholder="ville" type="text" value=""/>
                  
                  <label class="label">
                  ville
              </label>
                  </div>
</ion-list>
                          </div>
                          <div class="col2">
                     
                              <div class="champ champ-mdp">
                      <input formControlName="bsa" id="bsa" placeholder="nom du batiment / du site" type="text" value=""/>
                  
                  <label for="bsa" class="label">
                  nom du bâtiment / du site
              </label>
                  </div>
                              <div class="champ champ-nom">
                      <input formControlName="porte1" id="porte1" placeholder="numéro porte extérieure" type="text" value=""/>
                  
                  <label class="label">
                  numéro porte extérieure
              </label>
                  </div>
                        <div class="champ champ-nom">
                      <input formControlName="porte2" id="porte2" placeholder="numéro porte intérieure" type="text" value=""/>
                  
                  <label class="label">
                  numéro porte intérieure
              </label>
                  </div>
                               <div class="champ champ-nom">
                      <input formControlName="directions" id="directions" placeholder="pour directions" type="text" value=""/>
                  
                  <label class="label">
                  pour directions
              </label>
                  </div>   
                          </div>
                          
                          <div class="checkboxes"><!-- comment --><!-- comment -->
                          
                          
                              
                              <p>La protection de vos données personnelles et de votre vie privée est importante pour nous. Lisez notre texte de clarification concernant la manière dont vos données personnelles sont traitées.</p>
<div class="champ champ-lutexte">
                      <input formControlName="lutexte" id="lutexte" placeholder="" type="checkbox" value="1"/>
                  
                  <label class="label" for="lutexte">
                              J'ai lu le texte de clarification et j'accepte la déclaration de consentement explicite concernant le traitement de mes données personnelles.
              </label>
                  </div>
        <div class="champ champ-emailcommercial">
                      <input formControlName="emailcommercial" id="emailcommercial" placeholder="" type="checkbox" value="1"/>
                  
                  <label class="label" for="emailcommercial">
J'accepte de recevoir des messages électroniques commerciaux (SMS, e-mail et autres) à mon intention
              </label>
                  </div>                      
                              
                              
                          
                          
                          </div>
                          <div class="actions"><!-- comment -->
                              <ion-button class="annuler">Annuler</ion-button>
                               <ion-button class="enregistrer">Sauvegarder</ion-button>
                          </div>
                      </form>
<div id="userlon" hidden></div>
<div id="userlat" hidden></div>
</div>