<div class="ion-page" id="main-content">
    <ion-card class="mycard">
       
   

        <img src="/assets/images/logomcdelivery.png"/>
          <div class="jaune"><h2>COMMANDEZ, VENEZ !</h2><hr>
              
          </div>
              
              
          <div class="identifiant"><h2>Identifiant</h2>
              <hr><!-- comment -->
              <ion-item>
    <ion-input placeholder="nom d'utilisateur"></ion-input>
  </ion-item>
                <ion-item>
    <ion-input type="password" placeholder="mot de passe"></ion-input>
  </ion-item>
              <p>Vos enregistrements de commande seront enregistrés conformément à la loi n ° 6698 sur la protection des données personnelles et seront traités dans le cadre de l'article 5 (c) et 5 (f) de la loi applicable. Veuillez cliquer pour voir le texte d'éclairage préparé dans le cadre de la loi.</p>
              <a href="" (click)="forgetpassword();" class="oublie">J'ai oublié mon mot de passe</a>
                <ion-button class="connexion">connexion</ion-button>
                <ion-button (click)="sinscrire();" class="sinscrire">s'inscrire</ion-button>
                <hr>
                <ion-button class="sansmembre">continuer sans être membre</ion-button>

          </div>
        
       </ion-card>
</div>
