ion-item.background{
    --background: url(/assets/images/mcdoimage.jpeg) 0 0/100% 100% no-repeat;
      --min-height: 140px !important;  
      color: #fff;
      font-weight:900;
      font-size:30px;
      text-align:center;
}
div {text-align:center;}
div {
    width:100%;}
ion-footer {
    background-color: #6c6c6c;
}