<div class="ion-page" id="main-content">
    <ion-card class="mycard">
        <h1>

J'AI OUBLIÉ MON MOT DE PASSE</h1>
                      <form id="monformulaire" [formGroup]="ionicForm">
                          <div class="col1">
                  <div class="champ champ-nom">
                  
                  <label class="label">
                  Veuillez saisir votre adresse e-mail enregistrée dans notre système.
              </label>
             <input formControlName="email" id="email" placeholder="Adresse e-mail" type="text" value=""/>

                  </div>
                      
                          </div>
                    
                          
                          <div class="actions"><!-- comment -->
                              <ion-button class="annuler">Annuler</ion-button>
                               <ion-button class="continuer">continuer</ion-button>
                          </div>
                      </form>
    </ion-card>

</div>
