#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.menu.clearfix li ul {
    display:none;
    
}
body {
    margin-top:0px;
}
.menu.clearfix li {
    float:left;
    
}
.menu.clearfix {
    float:left;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}