#main-content {
    background-image: url('/assets/images/bg.jpg');
    //text-align:center;
    vertical-align: middle;
}
h1 {
    color:#ffcc00;
    text-align:center;
}
.col1, .col2 {
    width:50%;
    float:left;
}
a {
    font-weight:900;
}
.annuler {
--background:grey;
}
.enregistrer {
   --background:#ffcc00;
  
}
.checkboxes {
    float:left;clear:both;
    
}
.mycard {
	background-color: #fafafa;
	
	width: 100%;
	max-width: 960px;
	padding: 15px 6vmin;
	margin: 98px auto 138px auto !important;
}
.actions {
    text-align:center;
}